    *{
        margin: 0%;
        font-family: Segoe UI;
        /* color: #192e45; */
    }
    #logo{
        width: 150px;
        margin-left: 10%;
        padding-bottom: 25px;
    }
    .sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #192e45;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    }

.sidebar a,
.dropdown-btn{
  padding: 13px 8px 13px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #A3ABB4;
  display: block;
}

.dropdown-btn {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a:hover {
  background-color: #223e5d;
}

.dropdown-btn:hover {
  background-color: #223e5d;
}

.sidebar #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openbtn {
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  color: #0D233B;
  padding: 9.5px 12px;
  border: none;
  font-weight: bolder;
}

#openbtn:hover {
  color: #818181;
}

#closebtn {
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  color: #0D233B;
  padding: 9.5px 12px;
  border: none;
  font-weight: bolder;
  display: none;
}

#topnavbar{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  position: fixed;
  width: 100%;
  background-color: white;
  margin: -9.5px;
  padding-right: 7px;
}

#sidebaricons{
  width: 17px;
}

/* MAIN */

#main {
  transition: margin-left .5s;
  padding-bottom: 75px;
}

#bookWelcome{
    margin-top: 9.5px;
  display: flex;
  justify-content: space-between;
  padding: 50px 25px 25px 25px;
}

#bookWelcome button{
  border: none;
  border: 1px solid #4c83ee;
  background-color: inherit;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px 6px 12px;
  border-radius: 10px;
  color: #4c83ee;
  font-weight: 600;
}

#bookWelcome button:hover{
    background-color: rgb(93, 147, 252);
    color: white;
}

.active{
  font-weight: bold;
  color: white;
}

.dropdown-container {
  display: none;
  padding-left: 0px;
}

.dropdown-container > a{
  margin-left: 28px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* GRID */

#bodyGrid{
    padding: 0% 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#bodyGrid > div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    width: 50%;
}

#bodyGrid > div > img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (max-width:1070px){
    #bodyGrid{
        flex-direction: column;
    }
    #bodyGrid > div{
        width: 100%;
    }
}

#inside{
    display: flex;
    justify-content: space-between;
}

#inside > div{
    margin-bottom: 25px;
}

hr{
    border: 0.5px solid rgb(232, 232, 232);
    margin: 15px 0px 18px 0px;
}

#inside > div > h1{
    font-weight: 600;
}
#inside > div > p{
    color: gray;
}

#inside > div:nth-child(2){
    width: 130px;
    display: flex;
    align-items: center;
}

#inside > div:nth-child(2) > button{
        border: none;
        border-radius: 6px;
        padding: 10px 6px;
        display: block;
        width: 100%;
        color: white;
        background-color: #4c83ee;
        font-weight:500;
}

#inside > div:nth-child(2) > button:hover{
    background-color: rgb(93, 147, 252);
}

#padding{
    padding: 40px 25px 23px 25px;
}

#padding > img{
    margin-top: 25px;
    width: 100%;
}

.insert > h3{
    font-weight: 500;
}

#home{
    color: white;
    font-weight: bold;
    background-color: #2c435c;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}